
<!-- Magic Shortcodes - proof of concept -->
<!-- Enabled Debug in 'basic' mode to view all available types -->

<!-- Page Content -->
<div class="main_content">
  <div class="container">
    <div class="content-breadcrumb">
      {---BREADCRUMB---}
    </div>

    <!-- Page Heading/Breadcrumbs -->
    <div class="content-pagename pt-2 pb-4">
      <span>{---CAPTION---}</span>
    </div>

    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
	    {ALERTS}
		{SETSTYLE=main}
{---}
      </div>
	  <div class="col-md-4 mb-3 sidebar">
        <div class="sidebar-social-icons text-center">
          {XURL_ICONS}
        </div>
	    <!-- Standard sidebar menu -->
		<div class="sidebar-menu"> 
		  {SETSTYLE=side-menu}
		  {MENU=1} 
		  {MENU=2} 
		</div>
	  </div>
    <!-- /.row -->
    </div>
  <!-- /.container -->
  </div>
</div>

 
